{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "globals": {
    "window": true,
    "document": true,
    "isNaN": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends" : [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "rules" : {
    "arrow-body-style" : "warn",
    "no-nested-ternary": "warn"
  }
}